name = "molt-tv"
main = ".open-next/worker.js"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[vars]
NEXT_PUBLIC_CONVEX_URL = "https://adorable-vole-625.convex.cloud"
NEXT_PUBLIC_CONVEX_SITE_URL = "https://adorable-vole-625.convex.site"
